
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>基础记忆编码表</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet"  th:href="@{/css/download.css}" >
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script  th:src="@{/js/jqjs.js}"></script>
    <script  th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.js"></script>

</head>
<body>
<div th:insert="header::#header"></div>
<div>
    <table id="table"  class="table table-bordered table-striped table-hover">
        <tr>
            <td>id</td>
            <td>编码</td>
            <td>含义</td>


        </tr>
        <tr id="temp-node" th:each="m : ${list}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.symbol}"></td>
            <td th:text="${m.meaning}"></td>
        </tr>
    </table>
</div>


</body>
</html>